/* we can use a single css file to style all the files in our wwebsite */

/* you can pick your own background colors, text colors, and fonts */

/* we can select an html element tag, in this case "body" will apply to the whole document */
body {
  background-color: #ffffff;
}

/* we can have rules apply to multiple elements at the same time with commas */
h1,h2,h3 {
  font-family: sans-serif;
  text-indent: 5px;
  margin-left: 10px;
}

/* and we can have rules that overlap other rules, both take effect */
h1 {
  color: red;
  letter-spacing: 1px;      
  word-spacing: 5px;
  font-size: 300%;
}

/* the hashtag in a CSS selector selects an element by id, e.g., id="content" */
#content {
  margin: 10px;
  padding: 10px;
  border-style: dashed;
  background-color: #ffffff;
}

.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #ffffff;
}
